.Card {
    border: 1px solid lightgray;
    box-shadow: 3px 3px rgba(226, 226, 226, 0.692);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 40px;
    padding: 10px;
    text-align: center;
    width: 224px;
  }
  
  .Card-Image {
    height: 180px;
  }
  .Card-Title {
    font-size: .8em;
    margin: 0;
  }
